<section id="form-container">

    <div id="form-box">

        <form action="/create" method="POST" class="container-text">
            <h2>Create</h2>

            <label for="title" class="label">Title:</label>
            <input type="text" id="title" class="input-text" name="title">

            <label for="description" class="label">Description:</label>
            <input type="text" id="description" class="input-text" name="description">

            <label for="imgUrl" class="label">Image url:</label>
            <input type="text" id="imgUrl" class="input-text" name="imgUrl">

            <label for="founder" class="label">Founder:</label>
            <input type="text" id="founder" class="input-text" name="founder">

            <button class="form-btn">Create</button>

        </form>

    </div>

</section>