<section id="form-container">

    <div id="form-box">

        <form action="/login" method="POST" class="container-text">
            <h2>Login</h2>

            <label for="username" class="label">Username:</label>
            <input type="text" id="username" class="input-text" name="username">

            <label for="password" class="label">Password:</label>
            <input type="password" id="password" class="input-text" name="password">

            <button class="form-btn">Login</button>

            <div class="card-no-acc">
                <p>Don't have an account? <a href="/register">Sign up</a>.</p>
            </div>
        </form>

    </div>

</section>