<section id="form-container">

    <div id="form-box">

        <form action="/register" method="POST" class="container-text">
            <h2>Register</h2>

            <label for="username" class="label">Username:</label>
            <input type="text" id="username" class="input-text" name="username">

            <label for="password" class="label">Password:</label>
            <input type="password" id="password" class="input-text" name="password">

            <label for="repeatPassword" class="label">Re-Password:</label>
            <input type="password" id="repeatPassword" class="input-text" name="repeatPassword">

            <button class="form-btn">Register</button>

            <div class="card-no-acc">
                <p>You have an account? <a href="/login">Sign in</a>.</p>
            </div>
        </form>

    </div>

</section>