#form-container {
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 100px;
}

#form-box {
    margin-left: 300px;
    margin-right: 300px;
    background-color: #eac7c3;
    color: #5f8d87;;
    border-radius: 15%;
    opacity: 0.9;
    animation-name: loginPopUp;
    animation-duration: 3s;
    animation-iteration-count: 1;
}

#form-box:hover {
    background-color: #ebb1ab;
}

@keyframes loginPopUp {
    0% { opacity: 0; }
    100% { opacity: 0.9; }
}

.container-text {
    padding-top: 20px;
    text-align: center;
}

.container-text h2 {
    font-size: 30px;
}

.label {
    display: block;
    font-size: 20px;
}

.input-text {
    display: block;
    margin-left: 110px;
    color: #5f8d87;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10%;
    border: 0;
}

.form-btn {
    margin-bottom: 20px;
    display: block;
    font-size: 20px;
    width: 30%;
    border-radius: 10%;
    border: 0;
    background-color: #5f8d87;
    margin-left: 190px;
}

.form-btn:hover {
    background-color: #6f9892;
}

.card-no-acc {
    padding-bottom: 1px;
    padding-top: 5px;
}

.card-no-acc p a {
    text-decoration: none;
    color: #395652;
}

.card-no-acc p a:hover {
    color: #5f8d87;
}